/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Cabeçalho */
header {
    background-color: #ffcc00;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

/* Seções */
section {
    padding: 50px 0;
}

#introducao p {
    font-size: 1.2rem;
    color: #555;
}

/* Cards de Pratos */
.card {
    border: none;
    border-radius: 15px;
}

.card-img-top {
    border-radius: 15px;
    object-fit: cover;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
}
